<!doctype html>
<html>
<head>
    <link rel="stylesheet"  href="style.css" />
    <title>Manage Playlist</title>
</head>
    <body>
    <center>
        <h1>YouTube Player</h1>
        <br>
        <br>
        <h3>Manage Playlist</h3>
        <form method="post" action="/manage.py">
            <button class="button button1"name="submit_button" value="Create Playlist">Create Playlist</button>
            <button class="button button1"name="submit_button" value="Delete Playlist">Delete Playlist</button>
        </form>
       
    </center>
    </body>
</html>
