<html>
    <style>
        body {
            background-image: url(https://i0.wp.com/banglarblog.com/media/img/bg/Black_Red_Fade_YouTube_Thumbnail_Background-BanglarBlog.jpg?w=1320);
        }
    </style>
    <body>
        <p><h3><center>Your video has been uploaded!</center></h3></p>
        
		<div class="row">					
            {%- for item in filename %}
                <div class="column">
						<video width="320" height="240" controls>
                            <source src="/uploads/{{ item[1] }}" type="video/mp4" controls/>
                        </video>
                        <h3> {{item[0] }} </h3> <br>
                </div>
			{%- endfor %}
        </div>
       
    </body>
</html>