
<html>
    <head>
        
    </head>
    <body>
        <h2>Fill the details to upload video:</h2>
        <form action="upload_video.py">
            Enter Video Name:
            <input type="text" id="name" name="name" required></input>
            <br>
            <br>
            Enter Video Description:
            <input type="text" id="name" name="name"></input>
            <br>
            <br>
            Upload Video File:
            <label for="my_file"><input class="upload" type="file" name="my_file" value="Choose File" /></label>
           <!-- <input type="file" id="file" name="file" required accept="video/*">-->
            <br>
            <br>
            <input type="submit">
          </form>

