<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <title>Delete Playlist</title>
    </head>
<body>
    <form method="post" action="/">
        <button class="button button1"name="submit_button" value="Home">Home</button>
    </form>

    <center>
    <h2>Playlist Deleter</h2>
    <form method="post" action="deleted-playlist.py">
        
        <h3>Select playlist(s) to delete:</h3>
        {%- for item in filename %}

          <input type="checkbox" id="{{ item }}" name="playlist" value="{{ item }}"> {{ item }}
           
            <br> <br>
        {%- endfor %}
        <br>

        <button class="button button1">Delete</button>

    </center>
    </form>
    <div>
        <div class="row">	
            <br><br>
            <center><h2>Videos</h2></center>	
            <br>			
            {%- for item in data %}
                <div class="column">
                        <video width="360" height="200" style="position: sticky; float: left; margin-left:20px; padding: 15px;" controls>
                            <source src="/uploads/{{ item[2] }}" type="video/mp4" controls/>
                        </video>
                </div>
                

            {%- endfor %}
        </div>
    </div>  
</body>

</html>