<!--
    A multiple-select checkbox option is given to user to select which all video(s) they wish to delete. 
    Upon clicking the button Delete, url is routed to deleted.py
    External styling is done using style.css placed in 'static' folder.
-->

<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <title>Delete Video</title>
    </head>
    <body>
        <p><h3><center>Select the videos you wish to delete:</center></h3></p>
        
		<form method="post" action="deleted.py">
            {%- for item in filename %}
              <video width="320" height="240" controls>
                    <source src="/uploads/{{ item[1] }}" type="video/mp4" controls/>
                </video>
              
                <br>
              <input type="checkbox" id="{{ item[2] }}" name="videos" value="{{ item[2] }}">
                <label for="{{ item[2] }}"> {{ item[0] }}</label>
               
                <br> <br>
            {%- endfor %}
            <br>
    
            <button class="button button1">Delete</button>
    
    
        </form>
       
    </body>
</html>