<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <title>Delete Playlist</title>
    </head>
<body>
    <form method="post" action="/">
        <button class="button button1"name="submit_button" value="Home">Home</button>
    </form>

    <center>
    <h2>Playlist Deleter</h2>
    <form method="post" action="deleted-playlist.py">
        
        <h3>Select playlist(s) to delete:</h3>
        {%- for item in filename %}

          <input type="checkbox" id="{{ item }}" name="playlist" value="{{ item }}"> {{ item }}
           
            <br> <br>
        {%- endfor %}
        <br>

        <button class="button button1">Delete</button>

    </center>
    </form>
</body>

</html>