<html>

    <head>
        <link rel="stylesheet" href="style.css">
        <title>Your Playlists</title>
    </head>
    <body>
        <form method="post" action="/">
            <button class="button button1"name="submit_button" value="Home">Home</button>
        </form>
    <center>
        <h2>Your playlists after deletion:</h2>
        <div class="row">					
            {%- for item in filename %}
                <div class="column">
                        <h3> Playlist Name: {{ item }} </h3> 
                </div>
            {%- endfor %}
        </div>
    </center>
    <div>
        <div class="row">	
            <br><br>
            <center><h2>Videos</h2></center>	
            <br>			
            {%- for item in data %}
                <div class="column">
                        <video width="360" height="200" style="position: sticky; float: left; margin-left:20px; padding: 15px;" controls>
                            <source src="/uploads/{{ item[2] }}" type="video/mp4" controls/>
                        </video>
                </div>
                

            {%- endfor %}
        </div>
    </div>  
</body> 

    </body>
</html>