<!--
    User is asked to fill the following details to upload a video to YouTube:
    Video name, description, and file.
    On clicking upload, we are routed to upload.py
    External styling is done using style.css placed in 'static' folder.
-->

<!doctype html>
    <head>
        <link rel="stylesheet" href="style.css">
        <title>Upload File</title>
    </head>
    <body>
        <form method="post" action="/">
            <button class="button button1"name="submit_button" value="Home">Home</button>
        </form>
    <center>
        
        <h1>YouTube Player</h1>
        
        <h3>In order to maintain YouTube standards, fill out the following details to upload a video:</h3>
        <form method=post enctype=multipart/form-data action="upload.py">
            <h4>Enter Video Name:</h4>
            <input type = "text" name= "video_title" />
            <br>
            <br>
            <h4>Enter Video Description:</h4>
            <input type = "text" name = "video_description" /> 
            <br>
            <h4>Upload Video File:</h4>
            <input type=file name=file>
            <br>
            <br>
        <h3> By uploading a video, you promise to adhere by the guidelines and standards set by YouTube. </h3>
        <button class="button button1">Upload</button>
        </form>
    </center>
    </body>

