<!--
    All videos from the DB are displayed using a loop. 
    External styling is done using style.css placed in 'static' folder.
-->

<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <title>Videos</title>
    </head>
    <body>
        <p><h3><center>Your videos!</center></h3></p>
        
		<div class="row">					
            {%- for item in filename %}
                <div class="column">
						<video width="320" height="240" controls>
                            <source src="/uploads/{{ item[1] }}" type="video/mp4" controls/>
                        </video>
                        <h3> {{item[0] }} </h3> <br>
                </div>
			{%- endfor %}
        </div>
       
    </body>
</html>