<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <title>Your Playlist</title>
    </head>
    <body>
        <form method="post" action="/">
            <button class="button button1"name="submit_button" value="Home">Home</button>
        </form>
        <p><h3><center>Your playlist had been created!</center></h3></p>
        <p><h2>Playlist: {{ data }}</h2></p>
		<div class="row">					
            {%- for item in filename %}
                <div class="column">
                    <video width="360" height="200" style="position: sticky; float: left; margin-left:20px; padding: 15px;" controls>
                        <source src="/uploads/{{ item[0] }}" type="video/mp4" controls/>
                        </video>
                </div>
			{%- endfor %}
        </div>
       
    </body>
</html>
